    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:01
    */

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
      }
    }
    
        .fi:before{
            display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
        }
    
        .flaticon-about-us:before { content: "\f100"; }
    .flaticon-add-notes:before { content: "\f101"; }
    .flaticon-add-page:before { content: "\f102"; }
    .flaticon-add-to-cart:before { content: "\f103"; }
    .flaticon-add-user:before { content: "\f104"; }
    .flaticon-advanced-options:before { content: "\f105"; }
    .flaticon-affiliate-marketing:before { content: "\f106"; }
    .flaticon-alarm-clock:before { content: "\f107"; }
    .flaticon-anchor-with-arrows:before { content: "\f108"; }
    .flaticon-android-logo:before { content: "\f109"; }
    .flaticon-apple-black-logo:before { content: "\f10a"; }
    .flaticon-archives-drawers:before { content: "\f10b"; }
    .flaticon-arrow-directions:before { content: "\f10c"; }
    .flaticon-audio-converting:before { content: "\f10d"; }
    .flaticon-audio-high-volume:before { content: "\f10e"; }
    .flaticon-audio-on:before { content: "\f10f"; }
    .flaticon-auto-resize:before { content: "\f110"; }
    .flaticon-avatar:before { content: "\f111"; }
    .flaticon-bar-chart-file:before { content: "\f112"; }
    .flaticon-bookmark:before { content: "\f113"; }
    .flaticon-brainstorming:before { content: "\f114"; }
    .flaticon-brick-wall:before { content: "\f115"; }
    .flaticon-broken-link:before { content: "\f116"; }
    .flaticon-browser:before { content: "\f117"; }
    .flaticon-browser-open:before { content: "\f118"; }
    .flaticon-bug:before { content: "\f119"; }
    .flaticon-bug-fixing:before { content: "\f11a"; }
    .flaticon-business-presentation:before { content: "\f11b"; }
    .flaticon-businessmen:before { content: "\f11c"; }
    .flaticon-businessmen-meeting:before { content: "\f11d"; }
    .flaticon-cancelled-options:before { content: "\f11e"; }
    .flaticon-cd-software:before { content: "\f11f"; }
    .flaticon-ceo-strategy:before { content: "\f120"; }
    .flaticon-chat-bubble-sign:before { content: "\f121"; }
    .flaticon-chat-conversation:before { content: "\f122"; }
    .flaticon-chat-room:before { content: "\f123"; }
    .flaticon-checkbox:before { content: "\f124"; }
    .flaticon-checkbox-mark:before { content: "\f125"; }
    .flaticon-checked-bar-graph:before { content: "\f126"; }
    .flaticon-chess-pawn:before { content: "\f127"; }
    .flaticon-chrome-logo:before { content: "\f128"; }
    .flaticon-church-bell:before { content: "\f129"; }
    .flaticon-circle-inside-a-square:before { content: "\f12a"; }
    .flaticon-clean-code:before { content: "\f12b"; }
    .flaticon-client-profile:before { content: "\f12c"; }
    .flaticon-closed-padlock:before { content: "\f12d"; }
    .flaticon-cloud-connection:before { content: "\f12e"; }
    .flaticon-cloud-download:before { content: "\f12f"; }
    .flaticon-cloud-upload-button:before { content: "\f130"; }
    .flaticon-community:before { content: "\f131"; }
    .flaticon-compression:before { content: "\f132"; }
    .flaticon-computer:before { content: "\f133"; }
    .flaticon-content-management:before { content: "\f134"; }
    .flaticon-contract:before { content: "\f135"; }
    .flaticon-conversation-bubble:before { content: "\f136"; }
    .flaticon-conversion-settings:before { content: "\f137"; }
    .flaticon-counter:before { content: "\f138"; }
    .flaticon-creative-campaigns:before { content: "\f139"; }
    .flaticon-crowdsourcing:before { content: "\f13a"; }
    .flaticon-curriculum-vitae:before { content: "\f13b"; }
    .flaticon-custom-coding:before { content: "\f13c"; }
    .flaticon-custom-css:before { content: "\f13d"; }
    .flaticon-cute-bird:before { content: "\f13e"; }
    .flaticon-database:before { content: "\f13f"; }
    .flaticon-database-setting:before { content: "\f140"; }
    .flaticon-debugging:before { content: "\f141"; }
    .flaticon-delete-page:before { content: "\f142"; }
    .flaticon-delete-user:before { content: "\f143"; }
    .flaticon-design-browser:before { content: "\f144"; }
    .flaticon-detail-page:before { content: "\f145"; }
    .flaticon-development-and-progress:before { content: "\f146"; }
    .flaticon-directional-compass:before { content: "\f147"; }
    .flaticon-disable-sign:before { content: "\f148"; }
    .flaticon-dislike:before { content: "\f149"; }
    .flaticon-domain:before { content: "\f14a"; }
    .flaticon-drawing-pencil:before { content: "\f14b"; }
    .flaticon-duplicate-content:before { content: "\f14c"; }
    .flaticon-e-commerce-solutions:before { content: "\f14d"; }
    .flaticon-edit-page:before { content: "\f14e"; }
    .flaticon-edit-picture:before { content: "\f14f"; }
    .flaticon-editable-cd:before { content: "\f150"; }
    .flaticon-email-authentication:before { content: "\f151"; }
    .flaticon-email-graph:before { content: "\f152"; }
    .flaticon-email-with-at:before { content: "\f153"; }
    .flaticon-entry-data:before { content: "\f154"; }
    .flaticon-error-page:before { content: "\f155"; }
    .flaticon-events-calendar:before { content: "\f156"; }
    .flaticon-facebook-logo:before { content: "\f157"; }
    .flaticon-file-management:before { content: "\f158"; }
    .flaticon-finder:before { content: "\f159"; }
    .flaticon-firefox-logo:before { content: "\f15a"; }
    .flaticon-firewall-with-flame:before { content: "\f15b"; }
    .flaticon-flash-logo:before { content: "\f15c"; }
    .flaticon-folder-connection:before { content: "\f15d"; }
    .flaticon-food-search:before { content: "\f15e"; }
    .flaticon-form:before { content: "\f15f"; }
    .flaticon-ftp-file-transfer-protocol:before { content: "\f160"; }
    .flaticon-full-box:before { content: "\f161"; }
    .flaticon-full-dropper:before { content: "\f162"; }
    .flaticon-full-screen-arrows:before { content: "\f163"; }
    .flaticon-gameboy:before { content: "\f164"; }
    .flaticon-geo-targeting:before { content: "\f165"; }
    .flaticon-global-refreshment:before { content: "\f166"; }
    .flaticon-google-adsense:before { content: "\f167"; }
    .flaticon-graph-line-screen:before { content: "\f168"; }
    .flaticon-graphic-desig:before { content: "\f169"; }
    .flaticon-hard-drive-interior:before { content: "\f16a"; }
    .flaticon-home:before { content: "\f16b"; }
    .flaticon-hot-cup:before { content: "\f16c"; }
    .flaticon-html-coding:before { content: "\f16d"; }
    .flaticon-html-language:before { content: "\f16e"; }
    .flaticon-image-optimization:before { content: "\f16f"; }
    .flaticon-image-search:before { content: "\f170"; }
    .flaticon-information-circle:before { content: "\f171"; }
    .flaticon-internet-explorer-logo:before { content: "\f172"; }
    .flaticon-java-logo:before { content: "\f173"; }
    .flaticon-job-search:before { content: "\f174"; }
    .flaticon-keywords:before { content: "\f175"; }
    .flaticon-keywords-research:before { content: "\f176"; }
    .flaticon-landing-page:before { content: "\f177"; }
    .flaticon-layers:before { content: "\f178"; }
    .flaticon-like:before { content: "\f179"; }
    .flaticon-link-building:before { content: "\f17a"; }
    .flaticon-linux-platform:before { content: "\f17b"; }
    .flaticon-live-chat:before { content: "\f17c"; }
    .flaticon-loading-process:before { content: "\f17d"; }
    .flaticon-local-area-network:before { content: "\f17e"; }
    .flaticon-locked-folder:before { content: "\f17f"; }
    .flaticon-login:before { content: "\f180"; }
    .flaticon-love-money:before { content: "\f181"; }
    .flaticon-market-research:before { content: "\f182"; }
    .flaticon-megaphone:before { content: "\f183"; }
    .flaticon-mobile-app:before { content: "\f184"; }
    .flaticon-mobile-app-developing:before { content: "\f185"; }
    .flaticon-mobile-marketing:before { content: "\f186"; }
    .flaticon-move-object:before { content: "\f187"; }
    .flaticon-music-search:before { content: "\f188"; }
    .flaticon-network-protection:before { content: "\f189"; }
    .flaticon-network-protection-1:before { content: "\f18a"; }
    .flaticon-new-visitor:before { content: "\f18b"; }
    .flaticon-office-print:before { content: "\f18c"; }
    .flaticon-oil-filter:before { content: "\f18d"; }
    .flaticon-one-column-layout:before { content: "\f18e"; }
    .flaticon-online-collaboration:before { content: "\f18f"; }
    .flaticon-online-pay:before { content: "\f190"; }
    .flaticon-online-shopping-settings:before { content: "\f191"; }
    .flaticon-open-job:before { content: "\f192"; }
    .flaticon-opera-browser-logo:before { content: "\f193"; }
    .flaticon-page-quality:before { content: "\f194"; }
    .flaticon-page-speed:before { content: "\f195"; }
    .flaticon-page-view:before { content: "\f196"; }
    .flaticon-paint-tool:before { content: "\f197"; }
    .flaticon-paper-and-ruler:before { content: "\f198"; }
    .flaticon-partnership:before { content: "\f199"; }
    .flaticon-password:before { content: "\f19a"; }
    .flaticon-payment-methods:before { content: "\f19b"; }
    .flaticon-pdf-documentation:before { content: "\f19c"; }
    .flaticon-photo-presentation:before { content: "\f19d"; }
    .flaticon-place-optimization:before { content: "\f19e"; }
    .flaticon-post-it:before { content: "\f19f"; }
    .flaticon-premium-services:before { content: "\f1a0"; }
    .flaticon-press-delivery-service:before { content: "\f1a1"; }
    .flaticon-preview:before { content: "\f1a2"; }
    .flaticon-private-message:before { content: "\f1a3"; }
    .flaticon-programming-process:before { content: "\f1a4"; }
    .flaticon-project-manager:before { content: "\f1a5"; }
    .flaticon-protection-shield:before { content: "\f1a6"; }
    .flaticon-puzzle-fit:before { content: "\f1a7"; }
    .flaticon-question-bubble:before { content: "\f1a8"; }
    .flaticon-radio-streaming:before { content: "\f1a9"; }
    .flaticon-rankings:before { content: "\f1aa"; }
    .flaticon-remote-job:before { content: "\f1ab"; }
    .flaticon-repairing-browser:before { content: "\f1ac"; }
    .flaticon-reply-mail:before { content: "\f1ad"; }
    .flaticon-reputation-management:before { content: "\f1ae"; }
    .flaticon-retina-ready-web-design:before { content: "\f1af"; }
    .flaticon-road-advertising:before { content: "\f1b0"; }
    .flaticon-road-sign:before { content: "\f1b1"; }
    .flaticon-round-speedometer:before { content: "\f1b2"; }
    .flaticon-rss-feed:before { content: "\f1b3"; }
    .flaticon-save:before { content: "\f1b4"; }
    .flaticon-scripting:before { content: "\f1b5"; }
    .flaticon-search-box:before { content: "\f1b6"; }
    .flaticon-search-confirmed:before { content: "\f1b7"; }
    .flaticon-search-engine-result:before { content: "\f1b8"; }
    .flaticon-search-pointer:before { content: "\f1b9"; }
    .flaticon-search-results:before { content: "\f1ba"; }
    .flaticon-search-tips:before { content: "\f1bb"; }
    .flaticon-select-object:before { content: "\f1bc"; }
    .flaticon-selected-menu:before { content: "\f1bd"; }
    .flaticon-sending-location:before { content: "\f1be"; }
    .flaticon-seo-calculation:before { content: "\f1bf"; }
    .flaticon-seo-guide:before { content: "\f1c0"; }
    .flaticon-seo-meter:before { content: "\f1c1"; }
    .flaticon-seo-report:before { content: "\f1c2"; }
    .flaticon-seo-search-engine-optimization:before { content: "\f1c3"; }
    .flaticon-seo-tags:before { content: "\f1c4"; }
    .flaticon-seo-training:before { content: "\f1c5"; }
    .flaticon-services-portfolio:before { content: "\f1c6"; }
    .flaticon-settings:before { content: "\f1c7"; }
    .flaticon-settings-tweaks:before { content: "\f1c8"; }
    .flaticon-share:before { content: "\f1c9"; }
    .flaticon-simle-face:before { content: "\f1ca"; }
    .flaticon-site-map:before { content: "\f1cb"; }
    .flaticon-social-media-cloud:before { content: "\f1cc"; }
    .flaticon-social-media-collaboration:before { content: "\f1cd"; }
    .flaticon-social-media-press-release:before { content: "\f1ce"; }
    .flaticon-social-network:before { content: "\f1cf"; }
    .flaticon-spam-bin:before { content: "\f1d0"; }
    .flaticon-speaker-mute:before { content: "\f1d1"; }
    .flaticon-speech-bubbles:before { content: "\f1d2"; }
    .flaticon-starred-badge:before { content: "\f1d3"; }
    .flaticon-stats-graph:before { content: "\f1d4"; }
    .flaticon-synchronize:before { content: "\f1d5"; }
    .flaticon-syringe-with-drop:before { content: "\f1d6"; }
    .flaticon-table:before { content: "\f1d7"; }
    .flaticon-target-dart-board:before { content: "\f1d8"; }
    .flaticon-technical-advice:before { content: "\f1d9"; }
    .flaticon-technical-support:before { content: "\f1da"; }
    .flaticon-technical-support-1:before { content: "\f1db"; }
    .flaticon-three-column-layout:before { content: "\f1dc"; }
    .flaticon-time-management:before { content: "\f1dd"; }
    .flaticon-time-planning:before { content: "\f1de"; }
    .flaticon-traffic-analyze:before { content: "\f1df"; }
    .flaticon-trophy:before { content: "\f1e0"; }
    .flaticon-under-maintenance:before { content: "\f1e1"; }
    .flaticon-unlocked:before { content: "\f1e2"; }
    .flaticon-user-authentication:before { content: "\f1e3"; }
    .flaticon-user-online:before { content: "\f1e4"; }
    .flaticon-user-target:before { content: "\f1e5"; }
    .flaticon-video-converting:before { content: "\f1e6"; }
    .flaticon-video-marketing:before { content: "\f1e7"; }
    .flaticon-video-streaming:before { content: "\f1e8"; }
    .flaticon-videogame:before { content: "\f1e9"; }
    .flaticon-vintage-sandclock:before { content: "\f1ea"; }
    .flaticon-viral-marketing:before { content: "\f1eb"; }
    .flaticon-warning-road-sign:before { content: "\f1ec"; }
    .flaticon-web-application:before { content: "\f1ed"; }
    .flaticon-web-development:before { content: "\f1ee"; }
    .flaticon-web-layout:before { content: "\f1ef"; }
    .flaticon-web-pages:before { content: "\f1f0"; }
    .flaticon-web-programming:before { content: "\f1f1"; }
    .flaticon-weblinks-optimization:before { content: "\f1f2"; }
    .flaticon-website-analytics:before { content: "\f1f3"; }
    .flaticon-website-settings:before { content: "\f1f4"; }
    .flaticon-windows-platform-logo:before { content: "\f1f5"; }
    .flaticon-wireless-connection:before { content: "\f1f6"; }
    .flaticon-wizard-stick:before { content: "\f1f7"; }
    .flaticon-wood-hammer:before { content: "\f1f8"; }
    .flaticon-writting-laptop:before { content: "\f1f9"; }
    .flaticon-youtube-search:before { content: "\f1fa"; }
        
        $font-Flaticon-about-us: "\f100";
        $font-Flaticon-add-notes: "\f101";
        $font-Flaticon-add-page: "\f102";
        $font-Flaticon-add-to-cart: "\f103";
        $font-Flaticon-add-user: "\f104";
        $font-Flaticon-advanced-options: "\f105";
        $font-Flaticon-affiliate-marketing: "\f106";
        $font-Flaticon-alarm-clock: "\f107";
        $font-Flaticon-anchor-with-arrows: "\f108";
        $font-Flaticon-android-logo: "\f109";
        $font-Flaticon-apple-black-logo: "\f10a";
        $font-Flaticon-archives-drawers: "\f10b";
        $font-Flaticon-arrow-directions: "\f10c";
        $font-Flaticon-audio-converting: "\f10d";
        $font-Flaticon-audio-high-volume: "\f10e";
        $font-Flaticon-audio-on: "\f10f";
        $font-Flaticon-auto-resize: "\f110";
        $font-Flaticon-avatar: "\f111";
        $font-Flaticon-bar-chart-file: "\f112";
        $font-Flaticon-bookmark: "\f113";
        $font-Flaticon-brainstorming: "\f114";
        $font-Flaticon-brick-wall: "\f115";
        $font-Flaticon-broken-link: "\f116";
        $font-Flaticon-browser: "\f117";
        $font-Flaticon-browser-open: "\f118";
        $font-Flaticon-bug: "\f119";
        $font-Flaticon-bug-fixing: "\f11a";
        $font-Flaticon-business-presentation: "\f11b";
        $font-Flaticon-businessmen: "\f11c";
        $font-Flaticon-businessmen-meeting: "\f11d";
        $font-Flaticon-cancelled-options: "\f11e";
        $font-Flaticon-cd-software: "\f11f";
        $font-Flaticon-ceo-strategy: "\f120";
        $font-Flaticon-chat-bubble-sign: "\f121";
        $font-Flaticon-chat-conversation: "\f122";
        $font-Flaticon-chat-room: "\f123";
        $font-Flaticon-checkbox: "\f124";
        $font-Flaticon-checkbox-mark: "\f125";
        $font-Flaticon-checked-bar-graph: "\f126";
        $font-Flaticon-chess-pawn: "\f127";
        $font-Flaticon-chrome-logo: "\f128";
        $font-Flaticon-church-bell: "\f129";
        $font-Flaticon-circle-inside-a-square: "\f12a";
        $font-Flaticon-clean-code: "\f12b";
        $font-Flaticon-client-profile: "\f12c";
        $font-Flaticon-closed-padlock: "\f12d";
        $font-Flaticon-cloud-connection: "\f12e";
        $font-Flaticon-cloud-download: "\f12f";
        $font-Flaticon-cloud-upload-button: "\f130";
        $font-Flaticon-community: "\f131";
        $font-Flaticon-compression: "\f132";
        $font-Flaticon-computer: "\f133";
        $font-Flaticon-content-management: "\f134";
        $font-Flaticon-contract: "\f135";
        $font-Flaticon-conversation-bubble: "\f136";
        $font-Flaticon-conversion-settings: "\f137";
        $font-Flaticon-counter: "\f138";
        $font-Flaticon-creative-campaigns: "\f139";
        $font-Flaticon-crowdsourcing: "\f13a";
        $font-Flaticon-curriculum-vitae: "\f13b";
        $font-Flaticon-custom-coding: "\f13c";
        $font-Flaticon-custom-css: "\f13d";
        $font-Flaticon-cute-bird: "\f13e";
        $font-Flaticon-database: "\f13f";
        $font-Flaticon-database-setting: "\f140";
        $font-Flaticon-debugging: "\f141";
        $font-Flaticon-delete-page: "\f142";
        $font-Flaticon-delete-user: "\f143";
        $font-Flaticon-design-browser: "\f144";
        $font-Flaticon-detail-page: "\f145";
        $font-Flaticon-development-and-progress: "\f146";
        $font-Flaticon-directional-compass: "\f147";
        $font-Flaticon-disable-sign: "\f148";
        $font-Flaticon-dislike: "\f149";
        $font-Flaticon-domain: "\f14a";
        $font-Flaticon-drawing-pencil: "\f14b";
        $font-Flaticon-duplicate-content: "\f14c";
        $font-Flaticon-e-commerce-solutions: "\f14d";
        $font-Flaticon-edit-page: "\f14e";
        $font-Flaticon-edit-picture: "\f14f";
        $font-Flaticon-editable-cd: "\f150";
        $font-Flaticon-email-authentication: "\f151";
        $font-Flaticon-email-graph: "\f152";
        $font-Flaticon-email-with-at: "\f153";
        $font-Flaticon-entry-data: "\f154";
        $font-Flaticon-error-page: "\f155";
        $font-Flaticon-events-calendar: "\f156";
        $font-Flaticon-facebook-logo: "\f157";
        $font-Flaticon-file-management: "\f158";
        $font-Flaticon-finder: "\f159";
        $font-Flaticon-firefox-logo: "\f15a";
        $font-Flaticon-firewall-with-flame: "\f15b";
        $font-Flaticon-flash-logo: "\f15c";
        $font-Flaticon-folder-connection: "\f15d";
        $font-Flaticon-food-search: "\f15e";
        $font-Flaticon-form: "\f15f";
        $font-Flaticon-ftp-file-transfer-protocol: "\f160";
        $font-Flaticon-full-box: "\f161";
        $font-Flaticon-full-dropper: "\f162";
        $font-Flaticon-full-screen-arrows: "\f163";
        $font-Flaticon-gameboy: "\f164";
        $font-Flaticon-geo-targeting: "\f165";
        $font-Flaticon-global-refreshment: "\f166";
        $font-Flaticon-google-adsense: "\f167";
        $font-Flaticon-graph-line-screen: "\f168";
        $font-Flaticon-graphic-desig: "\f169";
        $font-Flaticon-hard-drive-interior: "\f16a";
        $font-Flaticon-home: "\f16b";
        $font-Flaticon-hot-cup: "\f16c";
        $font-Flaticon-html-coding: "\f16d";
        $font-Flaticon-html-language: "\f16e";
        $font-Flaticon-image-optimization: "\f16f";
        $font-Flaticon-image-search: "\f170";
        $font-Flaticon-information-circle: "\f171";
        $font-Flaticon-internet-explorer-logo: "\f172";
        $font-Flaticon-java-logo: "\f173";
        $font-Flaticon-job-search: "\f174";
        $font-Flaticon-keywords: "\f175";
        $font-Flaticon-keywords-research: "\f176";
        $font-Flaticon-landing-page: "\f177";
        $font-Flaticon-layers: "\f178";
        $font-Flaticon-like: "\f179";
        $font-Flaticon-link-building: "\f17a";
        $font-Flaticon-linux-platform: "\f17b";
        $font-Flaticon-live-chat: "\f17c";
        $font-Flaticon-loading-process: "\f17d";
        $font-Flaticon-local-area-network: "\f17e";
        $font-Flaticon-locked-folder: "\f17f";
        $font-Flaticon-login: "\f180";
        $font-Flaticon-love-money: "\f181";
        $font-Flaticon-market-research: "\f182";
        $font-Flaticon-megaphone: "\f183";
        $font-Flaticon-mobile-app: "\f184";
        $font-Flaticon-mobile-app-developing: "\f185";
        $font-Flaticon-mobile-marketing: "\f186";
        $font-Flaticon-move-object: "\f187";
        $font-Flaticon-music-search: "\f188";
        $font-Flaticon-network-protection: "\f189";
        $font-Flaticon-network-protection-1: "\f18a";
        $font-Flaticon-new-visitor: "\f18b";
        $font-Flaticon-office-print: "\f18c";
        $font-Flaticon-oil-filter: "\f18d";
        $font-Flaticon-one-column-layout: "\f18e";
        $font-Flaticon-online-collaboration: "\f18f";
        $font-Flaticon-online-pay: "\f190";
        $font-Flaticon-online-shopping-settings: "\f191";
        $font-Flaticon-open-job: "\f192";
        $font-Flaticon-opera-browser-logo: "\f193";
        $font-Flaticon-page-quality: "\f194";
        $font-Flaticon-page-speed: "\f195";
        $font-Flaticon-page-view: "\f196";
        $font-Flaticon-paint-tool: "\f197";
        $font-Flaticon-paper-and-ruler: "\f198";
        $font-Flaticon-partnership: "\f199";
        $font-Flaticon-password: "\f19a";
        $font-Flaticon-payment-methods: "\f19b";
        $font-Flaticon-pdf-documentation: "\f19c";
        $font-Flaticon-photo-presentation: "\f19d";
        $font-Flaticon-place-optimization: "\f19e";
        $font-Flaticon-post-it: "\f19f";
        $font-Flaticon-premium-services: "\f1a0";
        $font-Flaticon-press-delivery-service: "\f1a1";
        $font-Flaticon-preview: "\f1a2";
        $font-Flaticon-private-message: "\f1a3";
        $font-Flaticon-programming-process: "\f1a4";
        $font-Flaticon-project-manager: "\f1a5";
        $font-Flaticon-protection-shield: "\f1a6";
        $font-Flaticon-puzzle-fit: "\f1a7";
        $font-Flaticon-question-bubble: "\f1a8";
        $font-Flaticon-radio-streaming: "\f1a9";
        $font-Flaticon-rankings: "\f1aa";
        $font-Flaticon-remote-job: "\f1ab";
        $font-Flaticon-repairing-browser: "\f1ac";
        $font-Flaticon-reply-mail: "\f1ad";
        $font-Flaticon-reputation-management: "\f1ae";
        $font-Flaticon-retina-ready-web-design: "\f1af";
        $font-Flaticon-road-advertising: "\f1b0";
        $font-Flaticon-road-sign: "\f1b1";
        $font-Flaticon-round-speedometer: "\f1b2";
        $font-Flaticon-rss-feed: "\f1b3";
        $font-Flaticon-save: "\f1b4";
        $font-Flaticon-scripting: "\f1b5";
        $font-Flaticon-search-box: "\f1b6";
        $font-Flaticon-search-confirmed: "\f1b7";
        $font-Flaticon-search-engine-result: "\f1b8";
        $font-Flaticon-search-pointer: "\f1b9";
        $font-Flaticon-search-results: "\f1ba";
        $font-Flaticon-search-tips: "\f1bb";
        $font-Flaticon-select-object: "\f1bc";
        $font-Flaticon-selected-menu: "\f1bd";
        $font-Flaticon-sending-location: "\f1be";
        $font-Flaticon-seo-calculation: "\f1bf";
        $font-Flaticon-seo-guide: "\f1c0";
        $font-Flaticon-seo-meter: "\f1c1";
        $font-Flaticon-seo-report: "\f1c2";
        $font-Flaticon-seo-search-engine-optimization: "\f1c3";
        $font-Flaticon-seo-tags: "\f1c4";
        $font-Flaticon-seo-training: "\f1c5";
        $font-Flaticon-services-portfolio: "\f1c6";
        $font-Flaticon-settings: "\f1c7";
        $font-Flaticon-settings-tweaks: "\f1c8";
        $font-Flaticon-share: "\f1c9";
        $font-Flaticon-simle-face: "\f1ca";
        $font-Flaticon-site-map: "\f1cb";
        $font-Flaticon-social-media-cloud: "\f1cc";
        $font-Flaticon-social-media-collaboration: "\f1cd";
        $font-Flaticon-social-media-press-release: "\f1ce";
        $font-Flaticon-social-network: "\f1cf";
        $font-Flaticon-spam-bin: "\f1d0";
        $font-Flaticon-speaker-mute: "\f1d1";
        $font-Flaticon-speech-bubbles: "\f1d2";
        $font-Flaticon-starred-badge: "\f1d3";
        $font-Flaticon-stats-graph: "\f1d4";
        $font-Flaticon-synchronize: "\f1d5";
        $font-Flaticon-syringe-with-drop: "\f1d6";
        $font-Flaticon-table: "\f1d7";
        $font-Flaticon-target-dart-board: "\f1d8";
        $font-Flaticon-technical-advice: "\f1d9";
        $font-Flaticon-technical-support: "\f1da";
        $font-Flaticon-technical-support-1: "\f1db";
        $font-Flaticon-three-column-layout: "\f1dc";
        $font-Flaticon-time-management: "\f1dd";
        $font-Flaticon-time-planning: "\f1de";
        $font-Flaticon-traffic-analyze: "\f1df";
        $font-Flaticon-trophy: "\f1e0";
        $font-Flaticon-under-maintenance: "\f1e1";
        $font-Flaticon-unlocked: "\f1e2";
        $font-Flaticon-user-authentication: "\f1e3";
        $font-Flaticon-user-online: "\f1e4";
        $font-Flaticon-user-target: "\f1e5";
        $font-Flaticon-video-converting: "\f1e6";
        $font-Flaticon-video-marketing: "\f1e7";
        $font-Flaticon-video-streaming: "\f1e8";
        $font-Flaticon-videogame: "\f1e9";
        $font-Flaticon-vintage-sandclock: "\f1ea";
        $font-Flaticon-viral-marketing: "\f1eb";
        $font-Flaticon-warning-road-sign: "\f1ec";
        $font-Flaticon-web-application: "\f1ed";
        $font-Flaticon-web-development: "\f1ee";
        $font-Flaticon-web-layout: "\f1ef";
        $font-Flaticon-web-pages: "\f1f0";
        $font-Flaticon-web-programming: "\f1f1";
        $font-Flaticon-weblinks-optimization: "\f1f2";
        $font-Flaticon-website-analytics: "\f1f3";
        $font-Flaticon-website-settings: "\f1f4";
        $font-Flaticon-windows-platform-logo: "\f1f5";
        $font-Flaticon-wireless-connection: "\f1f6";
        $font-Flaticon-wizard-stick: "\f1f7";
        $font-Flaticon-wood-hammer: "\f1f8";
        $font-Flaticon-writting-laptop: "\f1f9";
        $font-Flaticon-youtube-search: "\f1fa";