$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?301e03246d88c7a55a63304746780991") format("truetype"),
url("./flaticon.woff?301e03246d88c7a55a63304746780991") format("woff"),
url("./flaticon.woff2?301e03246d88c7a55a63304746780991") format("woff2"),
url("./flaticon.eot?301e03246d88c7a55a63304746780991#iefix") format("embedded-opentype"),
url("./flaticon.svg?301e03246d88c7a55a63304746780991#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "home": "\f102",
    "shopping-cart": "\f103",
    "menu": "\f104",
    "map": "\f105",
    "right-arrow": "\f106",
    "whatsapp": "\f107",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon-map, "shopping-cart");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-map:before {
    content: map-get($flaticon-map, "map");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
