
html, body{
  direction: rtl;
  text-align: right;
}

.navbar-toggler {
  left: 10px;
}

.login_wrapper .sign_up_btn {
  margin-left: 15px;
}
/*start header navbar */


@media(max-width: 992px) {
#burgerBtn {
  left: 10px;
}
#burgerBtn:before {
  left: -2px;
}
  #burgerBtn:after {
    left: -2px;
 }
 .sidebar-wrapper .fa-angle-left{
   float: left;
 }
 .sidebar-wrapper {
  position: fixed;
  display: block;
  background-color: #303030;
  top: 0;
  width: 300px;
  height: 100%;
  z-index: 3000;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.sidebar-wrapper .m-head {
padding: 40px;
border-bottom: 1px solid #dad4d4;
text-align: center;
background: #303030;
}
.sidebar-wrapper .m-head h3 {
font-size: 15px;
margin-bottom: 16px
}
.shop_btn {
  color: #fff;
}
.sidebar-show{
transform:translateX(0);
-webkit-transform:translateX(0);
-moz-transform:translateX(0);
-ms-transform:translateX(0);
-o-transform:translateX(0);
}
.sidebar-wrapper .nav-link span{
margin: 0 5px;
}
.sidebar-wrapper .sub_menu{
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
z-index: 3001;
background-color: #303030;
transform: translateX(100%);
-webkit-transform: translateX(100%);
-moz-transform: translateX(100%);
-ms-transform: translateX(100%);
-o-transform: translateX(100%);
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
}
.sub_menu.active_sub_menu{
transform: translateX(0);
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
}
 
}

@media(min-width: 992px) {
  .navbar-nav .sub-collapse {
    right: 0;
}

}
/*page*/
#searchModal .close {
  left: 20px;
}
#searchModal .search-form .form-control {
  padding-right: 40px;
}
#searchModal .search-form .search_btn {
  right: 26px;
}
.lang-item img {
  margin-left: 6px;
}
@media(min-width: 992px) {
  .navbar-nav .nav-link {
    margin-left: 30px;
  }
}

.navbar-wrapper .search-form{
  margin-left: 26px;
}
.navbar-wrapper .search-form .search_btn {
  left: 10px;
}
.m-head .search_btn{
  left: 10px;
}
.navbar-brand img {
  margin-left: 30px;
}
@media(max-width: 576px) {
  .navbar-brand img {
    margin-left: 6px;
    margin-right: 6px
  }
}

a.lang-link::after {
  right: -20px;
}

@media(max-width: 992px) {
  .mobile_wrapper_nav .toggle-dark-mode{
    margin-left: 10px;
  }
}

@media(min-width: 992px) {
  .after_login_wrapper  .social-link {
    margin-left: 15px;
  }
}
.noti_num {
  right: -8px;
}
.profile_icon {
  margin-right: 20px;
}

.mobile_wrapper_nav .general_order_btn{
  margin-left: 10px;
}
.mobile_wrapper_nav .general_order_btn i {
  margin-left: 10px;
  font-size: 18px;
}
/* Start header*/


/* start banner section */
.shop_btn .fa {
  margin-right: 5px;
}

/* start best seller section */


/* start footer*/


.footer .social-item .social-link {
  margin-left: 10px;
}

.go-top {
  right: 10px;
}



.main-info-title {
  padding-right: 30px;
}
.main-info-title::before {
  right: 0;
}
.show-more-btn-blue i {
  position: relative;
  right: 10px;
}

@media(min-width: 993px) {
  .app_store {
    margin-left: 24px
  }
}


.app_store img, .google_play img {
  margin-left: 15px
}

  .dropdown-menu {
    right: auto;
    left: 0;
  }


.info_wrapper_title::before {
  right: -20px;
}
@media(max-width: 576px){
  .info_wrapper_title::before {
    right: -6px;
  }
}

.banner-section::before {
  right: 0;
  border-right: none;
}

/* start login page */
#togglePassword, .map_icon, .upload_icon{
  left: 26px;
}
.iti__country-list {
  left: 0;
}
.iti__arrow {
  margin-right: 10px;
}
.login_form .forget_pass {
  text-align: left;
}
.login_form .check_yellow {
  right: 15px;
}
 .service_checkbox .check_yellow {
  right: 0;
}
.login_form input[type="file"] {
  margin-left: 18px;
}

/* start about us page */
.about_section ol {
  padding-right: 18px;
}

/* start category details page */

.inner-search-form .nice-select {
  text-align: right !important;
}
.inner-search-form .nice-select:after {
  right: auto;
  left: 12px;
}
.inner-search-form .nice-select .option {
  text-align: right;
}
.inner-search-form .flaticon-menu,.inner-search-form .icon-filter {
  right: 30px;
}
.inner-search-form .fa-search {
  left: 30px;
}
.provider-card .rating {
  right: 20px;
}
.provider-card .add_fav {
  left: 20px;
}
.provider-card .rating i,
 .provider-card .distance i,
 .provider-card .phone i,
 .provider-card .whats i {
   margin-left: 5px;
 }

 @media(max-width: 576px) {
  .provider-card .rating {
    right: 10px;
  }
  .provider-card .add_fav {
    left: 10px;
  }
}

/* service provider details pages */
.toggle-table {
  left: 10px;
}

.services-wrapper .one-service {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #303030;
  font-size: 14px;
}
.products-order-wrapper .nav-pills .nav-item {
  margin-left: 1%;
}
.products_wrapper .media .media-body{
  padding-right: 15px;
}
.products_wrapper .media .price {
  left: 15px;
}
.nav-pills.cars-pills .check-car {
  margin-left: 16px;
}

/* start cart page */

.cart_page_section .number-spinner{
  left: 14px;
}

.services-wrapper .one-service img {
  margin-left: 8px;
}

.sections-title {
  padding-right: 10px;
}

.user-table .change-address {
  margin-right: 30px;
}
.payment_methods .payment-visa .visa-check{
  margin-left: 20px;
}
.payment-visa .visa-img {
  margin-left: 12px;
}
.cart_page_section .moving_bk i {
  margin-left: 10px;
}
.user-table .remove_address {
  left: 10px;
}


/*** notification page 71 ***/
.noti-img {
  margin-left: 40px;
}

/*** profile page 25 ***/
.profile_menu .profile_link i {
  margin-left: 10px;
  text-align: left;
}
.car_form .edit-icon {
  left: 15px;
}

/*** my orders 27 ***/
.products_wrapper  .media .order-time {
  left: 15px;
}

/*** provider work time ***/
.time-form-group .fa-clock-o  {
  left: 15px;
}